DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

NODE_ENV=
PORT=
FRONTEND_URL=

SUPER_ADMIN_USERNAME=
SUPER_ADMIN_PASSWORD=

TEACHER_SHIRIN_USERNAME=
TEACHER_SHIRIN_PASSWORD=
TEACHER_TOUKA_USERNAME=
TEACHER_TOUKA_PASSWORD=

GOOGLE_USER_1_USERNAME=
GOOGLE_USER_2_USERNAME=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
